@import url('../../index.css');

.card {
  font-family: 'CabinetGrotesk-Bold';
}

.card__text {
  font-size: 20px;
  line-height: 25px;
  margin: 40px 0 34px;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 325px);
  grid-gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 580px) {
  .card__list {
    grid-template-columns: repeat(auto-fill, 164px);
    grid-gap: 15px;
  }

  .card__text {
    margin: 32px 0 20px;
  }
}
