@import url('../../index.css');

.header {
  font-family: 'CabinetGrotesk-Bold';
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;

  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  width: 89px;
  height: 40px;
  margin-right: 24px;
}

.header__add-clothes-button {
  margin: 0 20px 0 auto;
  border: none;
}

.header__date-and-location {
  margin: 0;
}

.header__user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__user-avatar {
  width: 40px;
  height: 40px;
}

.header__username {
  line-height: 25px;
  margin: 0;
}

@media screen and (max-width: 580px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 0 16px;
    max-height: 822vh;
  }

  .header__date-and-location {
    margin: 32px 0 0 0;
  }

  .header__add-clothes-button {
    display: none;
  }
  .header__user-info {
    display: none;
  }
}
