.modal__content_type-img {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  overflow: hidden;

  max-width: 498px;
  max-height: 610px;
  border-radius: 16px;
  padding: 32px 32px;
}

.modal__img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

.modal__close-btn {
  z-index: 2;
  top: 24px;
  right: 24px;
}

.modal__footer {
  width: 431px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;

  margin-top: 465px;
}

.modal__footer-label {
  margin: 0 0 0 -12px;
}

.modal__text {
  font-size: 20px;
  line-height: 24px;
  margin: 20px 0 12px 0;
}

.modal__weather {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.modal__delete-btn {
  padding: 0;
  margin: 20px 0 0 0;

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;

  color: #ff4d00;
  border: none;
  background: transparent;
}

@media screen and (max-width: 580px) {
  .modal__content_type-img {
    max-width: 343px;
    max-height: 463px;
    padding: 40px 20px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__footer {
    margin-top: 320px;
    gap: 160px;
  }
}
