@import url('../../index.css');

.footer {
  display: flex;
  padding: 85px 0 24px;

  color: #333;
  font-family: 'CabinetGrotesk-Bold';
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.footer__developer {
  margin: 0;
}

.footer__year {
  margin: 0 0 0 auto;
}
